<%= form_for [@test, @question, @answer], html: {class: 'form-horizontal'} do |f| %>

    <div class="form-group <%= 'has-error' if @answer.errors[:text].any? %>">
      <%= f.label :text, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_area :text, class: 'form-control' %>
        <%= render 'shared/field_errors', object: @answer, field_name: :text %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label for="">
            <%= f.check_box :correct,{}, checked_value = "1", unchecked_value = "0" %>
            Is correct?
          </label>
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>