<%= provide :button_text, 'Save' %>

<div class="page-header">
  <%= link_to 'Tests', tests_path %> >
  <%= link_to @test.name, test_path(@test) %> >
  <%= link_to 'Question answers', test_question_path(@test, @question) %> >
  Create new answer
  <h1>Create new answer</h1>
</div>

<%= render 'answers/form' %>