<div class="page-header">
  <div class="col-md-12">
    <p>
    <h1>Tests</h1>
    <%= link_to 'Create new test', new_test_path, class: 'btn btn-default btn-lg' %>
    </p>

  </div>
</div>

<table class="table table-bordered">
  <tr>
    <td>Name</td>
    <td>Link</td>
    <td>Questions</td>
    <td>Results</td>
    <td>Actions</td>
  </tr>

  <% @tests.each do|test|%>
    <tr>
      <td><%= link_to test.name, test_path(test)  %></td>
      <td></td>
      <td><%= link_to test.questions.count, test_path(test)  %></td>
      <td><%= link_to test.questions.count, test_path(test)  %></td>
      <td>
        <%= link_to 'Edit,', edit_test_path(test)  %>
        <%=link_to 'Remove', test_path(test), method: :delete %>
      </td>
      </td>
    </tr>
  <% end %>
</table>
