<div class="page-header">
  <%= link_to 'Tests', tests_path %> > <%= @test.name %>
  <h1>Questions for "<%= @test.name %>"</h1>
  <%= link_to 'New question', new_test_question_path(@test), class: 'btn btn-default btn-lg' %>
</div>

<table class="table table-bordered">
  <tr>
    <td>Question</td>
    <td>Answers</td>
    <td>Actions</td>
  </tr>

  <% @questions.each do|question|%>
      <tr>
        <td><%=  question.text %></td>
        <td><%= link_to question.answers.count, test_question_path(question.test, question)  %></td>
        <td>
          <%= link_to 'Edit,', edit_test_question_path(question.test,question)  %>
          <%=link_to 'Remove', test_question_path(question.test, question), method: :delete %>
        </td>
        </td>
      </tr>
  <% end %>
</table>
